@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo-VariableFont_wdth,wght.ttf');
}
body {
  margin: 0;
  background: #f5f6f8;
  font-family: 'Archivo', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: unset;
}

div, p, span, button, h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo', sans-serif !important;
}

img {
  width: 100%;
}

